<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099490719161-h8o1r8dat3ilo29j4k8hu9700sn40pik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099490719161-h8o1r8dat3ilo29j4k8hu9700sn40pik</string>
	<key>API_KEY</key>
	<string>AIzaSyBSf1ldzIwr9JhTsKKt12eZySrBFJAASTc</string>
	<key>GCM_SENDER_ID</key>
	<string>1099490719161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatfirebase-ac8ab</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirebase-ac8ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099490719161:ios:e2afda214995fc9d44f268</string>
</dict>
</plist>